@import url("//fonts.googleapis.com/css?family=Courgette|Open+Sans:400,400italic,700,700italic");
@keyframes rotate-diagonal-1 {
  0% {
    transform: rotate3d(1, 1, 0, 0deg); }
  50% {
    transform: rotate3d(1, 1, 0, -180deg); }
  100% {
    transform: rotate3d(1, 1, 0, -360deg); } }

body, body .dark, body .light, body table, body .neutral, body .pale {
  font-family: "Open Sans", sans-serif;
  font-size: 100%; }

html {
  height: 100%; }
  body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    margin: 0; }
    body.index .site-content {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-direction: normal;
      -webkit-box-orient: vertical;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; }
  .site-header,
  .site-footer {
    -webkit-box-flex: none;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    z-index: 9; }
  .site-content {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto; }
    .site-content:focus {
      outline: none; }

body {
  min-width: 320px;
  background-color: white;
  color: black; }

@media screen and (min-width: 1024px) {
  .width-constrain-row .homepage-row-inner {
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - (100% - 100%) - 0px);
    max-width: calc(1024px - 0px); } }

.shuffle2-container {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; }
  .shuffle2-container .image {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover; }

@font-face {
  font-family: 'chunkfiveroman';
  src: url("../fonts/chunkfive-webfont.woff2") format("woff2"), url("../fonts/chunkfive-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

#header_main .header-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin: 0;
  font-family: "chunkfiveroman", sans-serif;
  font-weight: 400; }
  #header_main .header-title a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    color: white;
    text-transform: uppercase;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
    text-decoration: none; }
    #header_main .header-title a:before {
      content: "";
      width: 100px;
      height: 100px;
      background-color: white;
      background-image: url(../img//pics/header_logo.png);
      border-radius: 50%; }
    #header_main .header-title a:after {
      content: "Lorem ipsum dolor sit amet, consectetur adipisicing elit";
      font-size: 1vw;
      font-family: "Open Sans", sans-serif;
      letter-spacing: .3vw; }
    #header_main .header-title a .header-title-inner {
      font-size: 4vw;
      letter-spacing: .3vw; }

@media screen and (min-width: 1024px) {
  #header_main {
    width: 100%; }
    #header_main .header-title {
      padding: 0;
      height: 100vh; } }

.content-container {
  padding: 40px 0; }
  .content-container .section-title,
  .content-container .section-subtitle {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    margin: 0; }
    .content-container .section-title strong,
    .content-container .section-subtitle strong {
      margin-right: 5px; }
  .content-container .section-title {
    padding: 10px 40px;
    color: white;
    background-color: #ff0077;
    font-size: 2.3rem;
    font-family: "chunkfiveroman", sans-serif;
    font-weight: 400;
    text-transform: uppercase; }
  .content-container .section-subtitle {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    padding: 10px;
    color: #0f0f0f;
    background-color: whitesmoke;
    font-size: .85rem; }

.btn-holder {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.btn {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  overflow: hidden;
  height: 60px;
  color: white;
  background-color: #0f0f0f;
  text-decoration: none;
  position: relative; }
  .btn .item-inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    position: relative;
    z-index: 3;
    padding: 0 10px;
    height: 100%; }
  .btn:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    width: 0;
    background-color: #e6006b;
    transition: all .3s ease-in-out; }
  .btn:hover:before, .btn:focus:before {
    animation: rotate-diagonal-1 0.4s linear both; }
  .btn:hover:after, .btn:focus:after {
    width: 100%; }
  .btn-download:before {
    content: "";
    display: block;
    position: relative;
    z-index: 2;
    width: 60px;
    height: 60px;
    background-color: #ff0077;
    background-image: url(../svg/download.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50% 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); }

#parallax {
  position: relative;
  position: fixed; }
  #parallax:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(135deg, rgba(255, 170, 0, 0.8) 0%, rgba(255, 0, 119, 0.8) 100%); }

#row_about {
  background-color: white; }
  #row_about .section-title {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center; }
  #row_about .item-summary {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
  #row_about .item-text {
    margin-top: 20px 0 40px;
    color: #0f0f0f;
    font-size: 1.125rem;
    font-family: "Courgette", cursive;
    font-weight: 300; }
    #row_about .item-text p {
      margin: 10px; }
  #row_about .about-signature {
    display: block;
    margin: 10px 0;
    max-width: 200px; }
  @media screen and (min-width: 1024px) {
    #row_about .content-container {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center; }
    #row_about .item-summary {
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
      -ms-flex-order: 2;
      order: 2; }
    #row_about .item-image-holder {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
      -ms-flex-order: 1;
      order: 1; } }
