// ------------------------------------------------------------
// Base
// ------------------------------------------------------------
// This file contains mixins that are specifically related to Edlio code structure and naming conventions.	
// Generic or more abstract mixins should be located in _mixins.scss
// REQUIRED mixin parameters are required for things to work or make sense
// OPTIONAL mixin parameters can be skipped if desired and have functional defaults
// INFERRED mixin parameters are defined in other areas of the codebase


// imports the standard QuickPoll styling
// removed due to being basically obsolete, but still here for reference
// @import url("/apps/js/polls/polls-pack.css");


// Defines "sticky" sizes and behavior - header and footer areas area fixed size with the content between stretching as needed.  
// Shorter inside pages on taller screens will stretch to the appropriate heights.  Should only be applied to HTML tag, if at all.

@mixin sticky-footer-layout {
	height: 100%;
	
	@at-root {
		body {
			@include flex-all($direction: column);
			height: 100%;
			margin: 0;
			
			&.index .site-content { @include flex-all($direction: column); }
		}
		
		.site-header,
		.site-footer { 
			@include flex(none); 
			z-index: 9;
		}
		
		.site-content { 
			@include flex(1, 0, auto);

			&:focus { outline: none; }
		}
	}
}

// Used in a link in the header to help screen readers bypass long navigation blocks.  Accessibility requirement.

@mixin skip-to-content {
	@include hidden;
	
	&:focus {
		position:absolute;
		top: 0;
		left: 0; 
		width:auto; 
		height:auto;
		clip: auto;
	}
}

// Initializes the core marquee functionality.
// The speed variable determines the time it takes to make 1 loop, which is modified
//
// $speed - derived from the class name, which is pulled from the marquee settings in the CMS.  
//	Wider marquees will need longer durations. INFERRED.

@mixin marquee-base($speed: 15) {
	white-space: nowrap;
	overflow: hidden;
	box-sizing: border-box;
	
	.marquee-inner {
		display: inline-block;
		padding-left: 100%;
		
		&:hover { animation-play-state: paused; }
	}
	
	//medium
	&.marquee-speed-18 .marquee-inner {
		animation: marquee #{$speed}s linear infinite;
	}
	
	//slow
	&.marquee-speed-35 .marquee-inner {
		$marqueespeed: $speed * 2;
		animation: marquee #{$marqueespeed}s linear infinite;
	}
	
	//fast
	&.marquee-speed-7 .marquee-inner {
		$marqueespeed: $speed * .5;
		animation: marquee #{$marqueespeed}s linear infinite;
	}
	
	.marquee-content { float: left; }
	
	@keyframes marquee {
		0% { transform: translate(0, 0); }
		100% { transform: translate(-100%, 0); }
	}
}

// Adobe Accessible Megamenu mixins
// Official documentation can be found here: https://adobe-accessibility.github.io/Accessible-Mega-Menu/

// -base mixin initializes basic structure of string of category links and their drop-downs.
// Content in this mixin is used by both column and megamenu style layouts
//
// $convert-at-width: The px size at which to convert from hamburger menu to dropdown menu.  
//	This is so that you can use it for supplementary navigation that does not use a hamburger menu on
//	device sizes.  OPTIONAL

@mixin accessible-menu-base($convert-at-width: $vp-large) {
	width: 100%;

	.nav-mobile-toggle {
		position: absolute;
		display: block;
		height: 4px;
		width: 28px;
		font-size: 0;
		border-top: 14px double transparent;
		border-bottom: 5px solid transparent;
	}

	.nav-group {
		position: absolute;
		z-index: 99;
		width: 100%;
		overflow: hidden;
		max-height: 0;
		transition: max-height 0.8s;
		
		&.open { max-height: 2000px; }
	}

	.nav-menu,
	.sub-nav-group {
		@include stripped-list;
		
		a { 
			@include flex-all($align: center);
			padding: .5em;
			text-decoration: none; 
		}
	}
	
	.nav-menu {
		@include flex-all($direction: column);
		@include width-constrain;
	}

	.sub-nav {
		display: none;
		
		&.open { display: block; }

		.flyout-group {
			@include stripped-list;
		}
	}

	@include respond-to-max($convert-at-width) {
		.sub-nav {
			a { padding-left: 1.5em; }

			.flyout-group a { padding-left: 2.5em; }
		}
	}

	@include respond-to($convert-at-width) {
		
		.nav-mobile-toggle { display: none; }
		
		.nav-group {
			position: static;
			max-height: none;
			overflow: visible;
		}
		
		.nav-menu {
			@include flex-direction(row);
			position: relative;
		}
	}
}

// Mixin for traditional column-based drop-down menus using the Adobe system
// Builds up on the generic "-base" mixin.  This one is for LAYOUT ONLY and is design agnostic.
//
// $cols-num - number of side-by-side columns to display.  This is defined in /shared/components/_component_variables.scss 
//	and is in turn pulled from a variable defined in the header snippet in canvas.  INFERRED
// $convert-at-width: The px size at which to convert from hamburger menu to dropdown menu.  
//	This is so that you can use it for supplementary navigation that does not use a hamburger menu on
//	device sizes.  OPTIONAL

@mixin accessible-menu-column-layout($cols-num: 1, $convert-at-width: $vp-large) {
	@include accessible-menu-base($convert-at-width);

	.nav-item { position: relative; }

	@include respond-to($convert-at-width) {
		position: relative;

		.nav-menu { position: relative; }

		.sub-nav-group {
			@include flex-all($wrap: wrap);
			width: $cols-num * 12.5em;
		}
		
		.sub-nav {
			position: absolute;
			
			a { width: 11.5em; }

			.flyout-group a { 
				width: 10.5em; 
				padding-left: 1.5em; 
			}
		}
	}
}

// Megamenu mixin for wider menus that use extra content (image/text) defined from the CMS using the Adobe system
// Builds up on the generic "base" mixin.  This one is for LAYOUT ONLY and is design agnostic.
//
// $cols-num - number of side-by-side columns to display.  This is defined in /shared/components/_component_variables.scss 
//	and is in turn pulled from a variable defined in the header snippet in canvas.  INFERRED
// $convert-at-width: The px size at which to convert from hamburger menu to dropdown menu.  
//	This is so that you can use it for supplementary navigation that does not use a hamburger menu on
//	device sizes.  OPTIONAL

@mixin accessible-megamenu-layout($cols-num: 2, $convert-at-width: $vp-large) {
	@include accessible-menu-base($convert-at-width);	
	
	@include respond-to($convert-at-width) {

		.sub-nav {
			position: absolute;
			left: 0;

			&.open {
				@include flex-all($align: flex-start);
			}

			.sub-nav-group {
				@include flex-all($wrap: wrap);
				@include flex(none);

				> li {
					width: 100%/$cols-num;

					a { margin: 0 1em; }
				}
			}

			.mm-extra-content {
				@include flex(1);
			}

			.mm-image { width: 100%; }
		}
	}

	@include respond-to($site-width) {
		.sub-nav { right: 0; }
	}

	@include respond-to-max($convert-at-width) {
		.mm-extra-content { display: none; }
	}
}

// This mixin details all of the stylistic changes for a single, multi-column, or full megamenu setup
// It does NOT define any structural layout, only sizes, colors, paddings, etc. - things that could be unique to individual designs
// This is normally called from /shared/_overrides.scss
// NOTE: most often the text styling, hover states, etc. for the desktop size are different from that of the device size and will
// have to be overridden in _overrides at the appropriate size.
//
// $hamburger-color - defines color of the device-size hamburger menu toggle. REQUIRED
// $dropdown-bg-color - defines the default background color of the hamburger menu and desktop dropdowns. REQUIRED
// $dropdown-link-color - defines the default state for hamburger menu and dropdown link colors. REQUIRED
// $dropdown-hover-bg-color - defines the hover background color of hamburger menu and dropdown items. OPTIONAL
// $spacing - defines the flex keyword used to space the dropdown categories on desktop menus. OPTIONAL
// $indent-last - on column-based layouts the furthest-right option could potentially push off the right edge of the screen.  This
//	should prevent this be changing the alignment from left-oriented to right-oriented. OPTIONAL
// $sub-nav-padding - on megamenu layouts this defines how much space is between the content and the edges of the megamenu block. OPTIONAL
// $sub-nav-width - on megamenu layouts this defines the % of the megamenu block is defined by the columns of links.  It is split
//	evenly between those rows. The remainder of the 100% is used by the extra image and text content. OPTIONAL

@mixin sitenav-styling($hamburger-color, $dropdown-bg-color: $primary-color, $dropdown-link-color: $color-over-primary, $dropdown-hover-link-color: $color-over-secondary, $dropdown-hover-bg-color: $secondary-color, $spacing: "space-around", $indent-last: true, $sub-nav-padding: 20px, $sub-nav-width: 65%) {
	.nav-mobile-toggle { border-color: $hamburger-color; }

	.nav-group {
		background-color: $dropdown-bg-color;
		color: $dropdown-link-color;

		.nav-item > a {
			height: 42px;
			padding: 0 10px;
			font: {
					size: 1.125em;
					weight: 700;
				}
			color: $dropdown-link-color;

			&:focus,
			&:hover,
			&.open { 
				color: $dropdown-hover-link-color;
				background-color: $dropdown-hover-bg-color; 
			}
		}

		.sub-nav {
			
			a {
				color: $dropdown-link-color;
				
				&:focus,
				&:hover,
				&.open { 
					color: $dropdown-hover-link-color;
					background-color: $dropdown-hover-bg-color; 
				}
			}
		}
	}
	
	@include respond-to($vp-large) {

		.nav-group { background: transparent; }

		.nav-menu {
			@include justify-content(#{$spacing});
		}

		.nav-item > a { text-align: center; }

		.sub-nav { background-color: $dropdown-bg-color; }

		// Specific to column-based layouts
		&.column {
			@if $indent-last == true {
				.nav-item:last-child {

					.sub-nav {
					
						&:focus,
						&.open {
							left: auto;
							right: 0;
						}
					}
				}
			}
		}

		// Specific to megamenu layouts
		&.megamenu {
			.sub-nav {
				width: calc(100% - #{$sub-nav-padding}*2);
				max-width: calc(#{$site-width} - #{$sub-nav-padding}*2);
				padding: $sub-nav-padding;

				.sub-nav-group { width: $sub-nav-width; }

				.mm-extra-content { width: calc(100% - #{$sub-nav-width}); }
			}
		}
	}
}

// Standardized padding, spacing, etc. for the #content_main block, which wraps all inside page CMS content
// as well as most of the individualized content on the index page.
//
// $width - how wide the inside page content should be. OPTIONAL
// $horizontal-padding - horizontal padding applied to inside pages. OPTIONAL
// $vertical-padding - vertical padding applied to inside pages. OPTIONAL

@mixin content-main($width: $site-width, $horizontal-padding: 2.5%, $vertical-padding: 25px) {
	@include width-constrain($width, $horizontal-padding * 2);
	@include responsive-fix;
	position: relative;
	z-index: 9;
	padding: $vertical-padding $horizontal-padding;
	min-height: 400px;
	overflow: visible;
	
	.index & {
		width: 100%;
		max-width: 100%;
		padding: 0;
		margin: 0;
	}
	
	.pages-content-wrapper { overflow: visible; }
	
	// remove default border from images uploaded on legacy pages, news items, and any older modules
	img.sub { border: none; }
}

// On inside pages any section with multiple pages creates a navigation block on the left or right side
// of the page content.  This controls the layout and strictly-standardized styling for this block.

@mixin pagenav-layout {
	margin-bottom: 1.25em;
	
	@include respond-to-max($vp-mid) { margin: 20px auto; }

	ul { 
		@include stripped-list;
		margin: 0;
		padding: 0;
	}
	
	a {
		@include hover-underline;
		color: inherit;
		display: block;
		font-weight: 400;
		padding: .8em 6% .8em 10%;
		width: 84%;
		margin: 0;
		line-height: auto;
		
		.inner { @include hover-underline; }
	}
}

// On inside pages any section with multiple pages creates a navigation block on the left or right side
// of the page content.  This controls the coloration for this block. This should be called from /shared/_overrides.scss
//
// $background-color - the background color of the navigation block. OPTIONAL
// $link-color - the default state color for links on the navigation block. OPTIONAL
// $active-background - the background color for the active (current) page in the navigation block. OPTIONAL
// $active-color - the link color for the active (current) page in the navigation block. OPTIONAL

@mixin pagenav-style($background-color: inherit, $link-color: inherit, $active-background: inherit, $active-color: inherit) {
	background: $background-color;

	li {
		a { color: $link-color; }

		&.active {
			a {
				background-color: $active-background;
				color: $active-color;
			}
		}
	}
}

// Controls the layout and some standardized styling of search field components.

@mixin search-layout {
	@include inline-flex;
	
	input#q {
		margin: 0;
		border: none;
		vertical-align: top;
		background: transparent;
		-webkit-appearance: none;
		box-sizing: content-box;
	}
}

// Controls the styling of search field components.
// 
// $height - the height of the search field. OPTIONAL
// $width - the width of the search field. OPTIONAL
// $padding - the padding around the inner portion of the search field.  Can take any shortcut values.  OPTIONAL
// $color - the color of the placeholder and input text (usually defaults to grey, which can have poor contrast). OPTIONAL
// $bg-color - the background color of the search bar. OPTIONAL
// $rounded - are the edges rounded? OPTIONAL

@mixin search-style($height: 18px, $width: 100px, $padding: 0 10px, $color: inherit, $bg-color: null, $rounded: null) {
	height: $height;
	background-color: $bg-color;

	@if $rounded {
		border-radius: $height;
		overflow: hidden;
	}

	input#q {
		height: $height;
		width: $width;
		padding: $padding;
		line-height: $height;
		color: $color;

		&::-webkit-input-placeholder { color: $color; }
	}
}

// Layout-only mixin for the Edlio login link w/Edlio logo that is often in headers/footers.

@mixin edlio-login-layout {
	@include flexbox;
	text-decoration: none;

	.edlio-logo {
		@include svg-icon($height: 20px, $width: 30px);
		padding-right: 4px;
		margin-right: 4px;
		border-right: 2px solid transparent;
	}
}

// Styling mixin for the Edlio login link w/Edlio logo that is often in headers/footers.  Called from /shared/_overrides.scss
//
// $normal-color - the standard color for the text/border & SVG. REQUIRED
// $hover-color - the hover color for the text/border & SVG. REQUIRED

@mixin edlio-login-style($normal-color, $hover-color) {
	color: $normal-color;
	font-size: 1.25em;
	height: 1.25em;
	line-height: 1.25em;

	.edlio-logo {
		border-right-color: $normal-color;
		svg { fill: $normal-color; }
	}
	
	@include hover-color($hover-color) {
		.edlio-logo { 
			border-color: $hover-color; 
			svg { fill: $hover-color; }
		}
	}
}

// All sites display a semi-standardized navigation menu on small mobile sizes.  
// This mixin controls the layout and standardized design choices.
//
// $nav-height - the height of the navigation bar, as well as the amount needed to offset the footer
//	on device sizes to make room for it. OPTIONAL

@mixin mobile-nav-layout($nav-height: 64px) {
	@include flex-all($justify: space-around);
	position: fixed;
	z-index: 999;
	bottom: 0;
	left: 0;
	width: 100%;
	height: $nav-height;
	
	a {
		@include flex-all($direction: column, $justify: center, $align: center);
		font-size: .75em;
		text-decoration: none;
		
		svg {
			width: 28px;
			height: 28px;
			margin-bottom: 5px;	
		}
	}
	
	@include respond-to($vp-mid) { display: none; }
	
	@include respond-to-max($vp-mid) {
		@at-root {
			#footer_main { padding-bottom: $nav-height; }
		}
	}
}

// All sites display a semi-standardized navigation menu on small mobile sizes.  
// This mixin controls the coloration unique to each design. Called from /shared/_overrides.scss
//
// $background-color - background color for the entire navigation block. REQUIRED
// $fill-color - color for the default state text and SVG icons. REQUIRED
// $hover-color - color for the hover state text and SVG icons. REQUIRED

@mixin mobile-nav-styles($background-color: $primary-color, $fill-color: $color-over-primary, $hover-color: $secondary-color) {
	background: $background-color;

	a {
		color: $fill-color;
		svg { fill: $fill-color; }

		@include hover {
			color: $hover-color;
			
			svg { fill: $hover-color; }
		}
	}
}

// Basic Slick slider implementation and fundamental layout information.  Normally this is used in conjunction
// with the .slick-layout class.  This mixin MUST be called somehow for Slick sliders to work AT ALL.

@mixin slick-layout {
	position: relative;
	display: block;
	box-sizing: border-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;

	.slick-slider { position: relative; }

	.slick-list {
		position: relative;
		overflow: hidden;
		display: block;
		padding: 0;

		&:focus { outline: none; }

		&.dragging {
			cursor: pointer;
			cursor: hand;
		}
	}
	.slick-slider .slick-track,
	.slick-slider .slick-list {
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		-o-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

	.slick-track {
		@include clearfix;
		position: relative;
		left: 0;
		top: 0;
		display: block;
		margin: 0 auto;

		.slick-loading & { visibility: hidden; }
	}

	.slick-slide {
		position: relative;
		float: left;
		height: 100%;
		min-height: 1px;

		[dir="rtl"] & { float: right; }
		
		img { display: block; }

		&.slick-loading img { display: none; }

		&.dragging img { pointer-events: none; }

		.slick-initialized & { display: block; }

		.slick-loading & { visibility: hidden; }

		.slick-vertical & {
			display: block;
			height: auto;
			border: 1px solid transparent;
		}
	}

	.slick-arrow {
		position: absolute;
		z-index: 9999;
		border: none;
		background: {
			color: transparent;
			position: center center;
			repeat: no-repeat;
		}

		&:hover { cursor: pointer; }

		&.slick-prev { left: 0; }

		&.slick-next { right: 0; }

		&.slick-hidden { display: none; }
	}

	.slick-hidden { @include hidden; }

	.slick-dots {
		@include stripped-list;
		@include flex-all($align: center, $justify: center, $wrap: wrap);
		z-index: 9999;
		text-align: center;

		li {
			position: relative;
			display: inline-block;
			height: 20px;
			width: 20px;
			cursor: pointer;

			button {
				display: block;
				height: 20px;
				width: 20px;
				padding: 5px;
				outline-width: none;
				font-size: 0px;
				line-height: 0px;
				color: transparent;
				border: 0;
				cursor: pointer;
				background: none transparent;

				@include hover {
					outline-width: 5px;
				}

				&:before {
					content: "\2022";
					position: absolute;
					top: 0;
					left: 0;
					width: 20px;
					height: 20px;
					line-height: 20px;
					font-size: 2rem;
					text-align: center;
				}
			}
		}

		&.number-dots li button {
			font-size: .75em;
			&:before { display: none; }
		}
	}

	@include respond-to($vp-mid) {
		.slick-dots li { margin: .5em; }
	}
}

// Basic Slick slider design control - margins, arrows, dot colors, etc.  Any Slick sliders MUST ALSO
// call the slick-layout mixin to function.
//
// Currently all default values are initialized by the slick-base mixin.  slick-styles can then be called
// as necessary to adjust individual slick instances with minimal code repetition.
//
// $side-margin - margin between the side edges of the parent container and the actively-sliding area
//	(usually the arrows will go here, plus some extra space). OPTIONAL
// $button-size - if arrow navigation is enabled, this defines the width of the prev/next arrow buttons. 
//	Positions are automatically deteremined from this value. 
//  This variable must be a MAP containing button-height and button-width keys! 
//  e.g. $button-size: (button-height: 30px, button-width: 45px) OPTIONAL
// $button-prev-image - if arrow navigation is enabled, defines the location of the image to be used for the 
//	Previous Slide button. OPTIONAL
// $button-next-image - if arrow navigation is enabled, defines the location of the image to be used for the 
//	Next Slide button. OPTIONAL
// $dot-color - if dot navigation is enabled, defines the color for the non-current slide dots. OPTIONAL
// $active-dot-color - if dot navigation is enabled, defines the color of the current slide dot. OPTIONAL

@mixin slick-styles($side-margin: null, $button-size: null, $button-prev-image: null, $button-next-image: null, $dot-color: null, $active-dot-color: null) {
	
	@if ($side-margin) {
		.slick-list { 
			width: calc(100% - #{$side-margin}*2);
			margin: 0 $side-margin; 
		}
	}

	@if ($button-size) {
		$button-width: map-get($button-size, button-width);
		$button-height: map-get($button-size, button-height);

		.slick-arrow {
			width: $button-width;
			height: $button-height;
			top: calc(50% - #{$button-height}/2);
		}
	}

	@if ($button-prev-image) {
		.slick-arrow.slick-prev { background-image: url(#{$button-prev-image}); }
	}

	@if ($button-next-image) {
		.slick-arrow.slick-next { background-image: url(#{$button-next-image}); }
	}

	@if ($dot-color) {
		.slick-dots {
			li button:before { color: $dot-color; }

			&.number-dots {
				li {
					button { background: $dot-color; }

					&.slick-active button { color: $dot-color; }
				}
			}
		}
	}

	@if ($active-dot-color) {
		.slick-dots {
			li.slick-active button:before { color: $active-dot-color; }

			&.number-dots {
				li {
					button { color: $active-dot-color; }

					&.slick-active button { background: $active-dot-color; }
				}
			}
		}
	}
}

// This wrapper mixin calls the layout mixin as well as the functional default styling for a slick slider.
// slick-styles can be called later on to override any particular variables you'd like.

@mixin slick-base($side-margin: 25px, $button-size: (button-width: 20px, button-height: 40px), $button-prev-image: "/pics/button_prev.png", $button-next-image: "/pics/button_next.png", $dot-color: $secondary-color, $active-dot-color: $primary-color) {
	.slick-arrow { @include image-replace; }

	@include slick-styles($side-margin, $button-size, $button-prev-image, $button-next-image, $dot-color, $active-dot-color);
	@include slick-layout;
}

// This will create a visually clipped area in which you can place parallax content etc. on multiple places on the page.
// Note that if an asset is spread across multiple rows (such as a background image) this won't work so well, as you'd
// need to duplicate the shuffle code in each row.  Not great.
//
// Also note that you will need to create a .visibility-frame element as the first child of the element you'd like to frame - this is NOT
// currently automated via canvas.

@mixin clip-container {
	position: relative;

	.visibility-frame {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		clip: rect(0, auto, auto, 0);
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
	}
}

// The following mixin is a kludge used to force responsiveness decisions on many inside page items that were not 
// originally programmed with responsiveness in mind.  
// It's possible that as features are improved we will be able to remove these, but for now it is necessary to include 
// this mixin on all projects, though it almost never needs to be modified or overridden by other styling.

@mixin responsive-fix {

	.pages-left-column-wrapper { overflow: hidden; }

	@include respond-to-max($vp-large) {
		table {
			display: block;
			overflow-x: auto;
		}
		
		.bell-schedule { display: table; }
		
		.pages-column .stack-photo figcaption, 
		.slideshow-wrapper .slide .slide-caption { font-size: .85em; }
		
		.video-list-top #controls2, 
		.video-list-top #controls3 { width: auto; }
		
		#more-videos { display: none; }
		
		#staff_list_public .user-info-wrapper {
			span[id*="staff"] { display: block; }
			
			.user-position-public {
				display: block;
				margin-left: 0;
				width: 100%;
			}
			
			p {
				display: block;
				float: left;
				width: 100%;
			}
		}
	}
		
	@include respond-to-max($vp-mid) {
		.news-list article .column { width: 100%; }
		
		.show-news .attached-images {
			float: none;
			margin: 0 auto 1em;
		}
		
		.single-video #big-video, 
		.below-start #big-video { width: 100%!important; }
		
		.video-list {
			.thumb_wrap {
				display: block;
				float: none;
			}
			
			li {
				.description { padding-left: 0; }
				
				.video-list-date { padding-left: 0; }
			}
		}
		.bell-schedule { width: 100%; }
		
		.pages-column .stack-photo figcaption, 
		.slideshow-wrapper .slide .slide-caption { font-size: .7em; }
		
		.video-list-top .controls, 
		.video-list-top #controls2, 
		.video-list-top #controls3 { display: none; }
		
		#album_thumbnails table img {
			width: 90%; 
			height: auto;
			position: relative; 
		}
		
		#edlio_search_form {
			max-width: 400px; 
			width: auto;
			
			input { width: 200px; }
		}
		
		#contact_form {
			width: 100%;
			
			table {
				display: table; 
				font-size: 12px; width: 
				280px!important; 
			}
			
			#f_name { width: 200px!important; }
			
			#f_email { width: 200px!important; }
			
			#f_message { width: 200px!important; }
		}
		
		#calendar_wrapper .right-column {
			float: none;
			width: 100%;
			
			#calendar_grid table { display: table; }
		}
		
		.pages-column .page-block-text, 
		.pages-column .page-block-photos { width: 100%; }
		
		.pages-left-column-wrapper {
			margin-left: 0!important;
			float: none;
			
			.pages-left-column { margin-left: 0!important; }
		}
		
		.pages-right-column {
			float: none;
			width: 100%!important;
			margin: 0 auto;
			@include flex-all($direction: column);
		}
	}
}
